<ion-content [fullscreen]="true">

    <ion-grid fixed>
        <ion-row>
            <ion-col class="title-container ">
                <h2>Películas Nuevas</h2>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slider [movies]="movies" [loaded]="loaded"></app-slider>


    <ion-grid fixed class="ion-margin-top">
        <ion-row>
            <ion-col class="title-container ">
                <h3>Cartelera</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slider-poster [movies]="movies" [loaded]="loaded"></app-slider-poster>


    <ion-grid fixed class="ion-margin-top">
        <ion-row>
            <ion-col class="title-container ">
                <h3>Populares</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slider-pares [movies]="popularMovies" [loaded]="loaded" (loadMore)="loadMore($event)"></app-slider-pares>

</ion-content>